@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ky3u7o');
  src:  url('../fonts/icomoon.eot?ky3u7o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ky3u7o') format('truetype'),
    url('../fonts/icomoon.woff?ky3u7o') format('woff'),
    url('../fonts/icomoon.svg?ky3u7o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon, [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-gallery:before {
  content: "\e920";
}
.icon-login:before {
  content: "\e971";
}
.icon-signup:before {
  content: "\e973";
}
.icon-search:before {
  content: "\e986";
}
.icon-wait:before {
  content: "\e994";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-fatal:before {
  content: "\e9f5";
}
.icon-success:before {
  content: "\e9f9";
}
.icon-error:before {
  content: "\e9fb";
}
.icon-ask:before {
  content: "\ea09";
}
