@charset "utf-8";

@-webkit-keyframes proWait {
    0% {
        content: "•\00a0\00a0";
        -webkit-transform: rotate(0deg);
    }
    25% {
        content: "••\00a0";
    }
    50% {
        content: "•••";
    }
    75% { /*2.4 / 2.9 = 0.827*/
        content: "•\00a0•\00a0•";
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
    100% {
        content: "•\00a0•\00a0•";
        opacity: 0;
        -webkit-transform: rotate(180deg);
    }
}
@keyframes loadBar {
    0%   {
        background-image: repeating-linear-gradient(-45deg, #945EB8, #945EB8 5px, #44225C 5px, #44225C 10px);
        background-position: 0 0;
    }
    100% {
        background-image: repeating-linear-gradient(-45deg, #945EB8, #945EB8 5px, #44225C 5px, #44225C 10px);
        background-position: 15px 0;
    }
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
    margin:0;
    padding:0;
    height:100%; width: 100%; min-width: 320px;

    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

    background-color: #fafafa;
}


/* APP HEADER */
body .page > header {
    /*position: absolute;
    top: 0px; left: 0px; right: 0; z-index: 20 ;*/
    height: 48px;
    line-height: 48px;
    padding: 0 5px;

    color: #DDD;
    background-color: rgb(25, 175, 156);

    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
       -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
         -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body > .page header a {
    color: inherit;
    text-decoration: none;
}

body > .page header .high {
    font-weight:  bold;
    font-size: 1.2em;
    text-transform: uppercase;
}

body > .page header .menuItem {
    display: inline-block;
    padding: 0 10px;
}

body > .page header .menuItem.active {
    color: #FFF;
}

body > .page header .menu-switch {
    float: left;
    width: 14px;
}
body > .page header .menu-switch:before, body > .page header .menu-switch::before {
    position: relative; left: -8px;
    line-height: 48px;
    font-size: 1.5em;
}

body > .page header .menu-right {
    float: right;
}
/* !APP HEADER */


/* APP MENU */
#menu {
    position: absolute; top: 48px; left: 0; bottom: 0px; z-index: 100;
    width: 0; max-width: 250px;

    color: #495761;
    background-color: #FFF;

    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
       -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
         -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.3);

    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    -webkit-transition: width .5s;
       -moz-transition: width .5s;
            transition: width .5s;
}
#menu:target {
    width: 70%;
}

#menu-cover {
    display: none;
    position: absolute; top: 0px; left: 0; bottom: 0px; right: 0; z-index: 99;

    -webkit-transition: background-color .5s;
       -moz-transition: background-color .5s;
            transition: background-color .5s;
}
#menu:target + #menu-cover {
    display: block;

    background-color: rgba(0, 0, 0, 0.5);
}
#menu-cover a{
    display: block;
    position: absolute; top: 0px; left: 0; bottom: 0px; right: 0;
}

#menu .menuItem {
	cursor: pointer;
    display: block;
    width: 250px;
    line-height: 45px;

    color: inherit;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#menu .menuItem.active {
    color: #1E1E1F;
    background-color: #E1E1E2;
}
/* !APP MENU */


/* APP CONTENT */
.no-small, .no-medium {
    display: none
}

#content {
    position: absolute; top: 48px; bottom: 0; left:0; right: 0;

    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    -webkit-transition: left .5s;
       -moz-transition: left .5s;
            transition: left .5s;
}

#content:before {
    content: " ";
    position: absolute; top: 0; left: 0;
    width: 0; height: 3px;

    background-color: #945EB8;
}
#content[class^="load"]:before {
    -webkit-transition: width .5s;
       -moz-transition: width .5s;
            transition: width .5s;
}
#content.load10:before {
    width: 10%;
}
#content.load20:before {
    width: 20%;
}
#content.load30:before {
    width: 30%;
}
#content.load40:before {
    width: 40%;
}
#content.load50:before {
    width: 50%;
}
#content.load60:before {
    width: 60%;
}
#content.load70:before {
    width: 70%;
}
#content.load80:before {
    width: 80%;
}
#content.load90:before {
    width: 90%;
}
#content[data-load]:before {
    width: attr(data-load);
}
#content.load100:before {
    width: 100%;

    -webkit-transition: width .2s;
       -moz-transition: width .2s;
            transition: width .2s;
}
#content.load0:before {
    -webkit-transition: width 0s;
       -moz-transition: width 0s;
            transition: width 0s;
}
#content:after {
    position: absolute; right: 100%; bottom: 0; left: -100%;
    content: "";

    -webkit-transition: left .5s, right .5s;
       -moz-transition: left .5s, right .5s;
            transition: left .5s, right .5s;
}

#content[class^="load"].slow:before {
    height: 5px;

    animation-name: loadBar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#content[class^="load"].slow:after {
    content: "La requête Internet est anormalement longue. Vérifiez votre connexion...";
    right: 0; left: 0;
    padding: 10px;

    background-color: #000;
    color: #FFF;

    animation-name: loadBar;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#content .margin {
    padding: 15px 10px;
}

#content .fullheight {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

#content .app-block {
    padding: 20px;
    margin-bottom: 10px;

    background-color: #FFF;

    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
       -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
         -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
#content .app-block.small {
    width: 50%; min-width: 3220px; max-width: 400px;
}

#content .pro-input {
    width: 65%; max-width: 500px;
    line-height: 25px;
    padding: 0 5px;
    border: 0;

    font-size: 1em;
    vertical-align: bottom;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,.3);
}
#content .pro-input-highlight {
    display:inline-block;
    width: 25px;
    line-height: 25px;
    border: 0;

    text-align: center;
    vertical-align: bottom;
    overflow-x: hidden;
    background: rgb(102, 198, 90);
}
#content .pro-button {
    display:inline-block;
    line-height: 25px;
    border: 0;
    padding: 0 5px;

    font-size: 1.1em;
    text-align: center;
    vertical-align: bottom;
    overflow-x: hidden;
    background: rgb(102, 198, 90);
}
#content .pro-input.big {
    line-height: 45px;

    font-size: 1.2em;
}
#content .pro-input-highlight.big {
    width: 45px;

    line-height: 45px;
    font-size: 1.2em;
}
#content .pro-button.big {
    padding: 0 10px;

    line-height: 45px;
    font-size: 1.2em;
}
#content .pro-wait:before, #content .pro-wait::before {
    display: inline-block;
    content: "Loading...";

    font-size: 1.3em;

    -webkit-animation: proWait 3s infinite linear;
}
#content .right {
    text-align: right;
}

#content .vert-spacing {
    display: block;
    height: 25px;

    -webkit-transition: height .5s;
       -moz-transition: height .5s;
            transition: height .5s;
}
#content .vert-spacing.big {
    height: 50px;
}
#content .spacing {
    display: inline-block;
    width: 35px;

    -webkit-transition: width .5s;
       -moz-transition: width .5s;
            transition: width .5s;
}
#content .spacing.big {
    width: 55px;
}

label, button, #content .action {
    cursor: pointer;
}

#content .center {
    text-align: center;
}
#content .block-center {
    margin-left: auto;
    margin-right: auto;
}

#content .hidden-switch {
    opacity: 1;

    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
            transition: opacity .5s;
}
#content .hidden {
    display: none;
    opacity: 0;
}
/* !APP CONTENT */

@media (min-width: 768px) {
    .no-small {
        display: inherit;
    }

    .menu-switch, .menu-switch:before, .menu-switch::before {
        display: none;
    }
    #menu, #menu:target {
        width: 48px;
    }
    #menu:hover, #menu:focus {
        width: 250px;
    }
    #menu:target + #menu-cover {
        display: none;
    }
    #menu:hover + #menu-cover {
        display: block;

        background-color: rgba(0, 0, 0, 0.5);
    }

    #content {
        left: 48px;
    }

    #content .margin {
        padding: 15px 25px;
    }
}

@media (min-width: 1080px) {
    .not-medium {
        display: inherit;
    }

    /*
    #menu, #menu:target {
        position: relative; top: 0;
        display: inline;
        width: auto; max-width: auto;

        background-color: transparent;

        -webkit-box-shadow: 0 0 0 transparent;
           -moz-box-shadow: 0 0 0 transparent;
             -o-box-shadow: 0 0 0 transparent;
                box-shadow: 0 0 0 transparent;
    }
    */
    #menu {
        width: 250px;
    }
    #menu:hover + #menu-cover, #menu:focus + #menu-cover {
        display: none;
    }
    #content {
        left: 250px;
    }
    /*
    #menu .menuItem {
        display: inline-block;
        width: auto;
        line-height: 48px;

        color: #E1E1E1;
    }

    #menu .menuItem.active {
        background-color: transparent;
        color: #FFF;
    }

    #content {
        left: 0;
    }
    */
}