@keyframes popupShake {
    0%   {
    	transform: translateX(0px);
    	transform: translateY(0px);
    }
    25%  {
    	transform: translateX(15px);
    	transform: translateY(4px);
    }
    50%  {
    	transform: translateX( -3px);
    	transform: translateX( 2px);
    }
    75%  {
    	transform: translateX( -17px);
    	transform: translateX( -5px);
    }
    100% {
    	transform: translateX( 0px);
    	transform: translateY( 0px);
    }
}

#popupContainer .popup {
	position: absolute; top: 0; right: 0; left: 0; z-index: 150;
	height: 0;
	overflow: hidden;

    -webkit-transition: height .5s;
       -moz-transition: height .5s;
            transition: height .5s;
}
#popupContainer .popup.in {
	height: 100%;
}

#popupContainer .popup .box {
	position: absolute; top: 0; right: 0; left: 0;
	height: 100%;

	background-color: #363636;
	background-color: rgba(29, 29, 29, 0.9);
	overflow-x: hidden;
	overflow-y: hidden;

	color: #fff;
}
#popupContainer .popup .box:after {
    content: "";
    display: inline-block;
    height: 75%; width: 0;

    vertical-align: middle;
}

#popupContainer .popup.popupShake .box {
	animation-play-state: running;
    animation-name: popupShake;
    animation-duration: .1s;
    animation-iteration-count: 4;
}

#popupContainer .popup .content {
	display: inline-block;
    width: 100%; max-height: 60%;

    overflow-y: auto;
    vertical-align: middle;
    text-align: center;
}
#popupContainer .popup .content:after {
	content: "";
	display: inline-block;
	height: 100;
}
#popupContainer .popup .content .drawable {
	font-size: 3em;

	margin-bottom: 5px;
}
#popupContainer .popup .content .title {
	font-weight: bold;
	font-size: 1.2em;

	margin-bottom: 5px;
}

#popupContainer .popup .buttons {
	position: absolute; right: 0; bottom: 0; left: 0; z-index: 150;
}
#popupContainer .popup .buttons .button {
	display: inline-block;
	width: 50%;
	padding: 20px 0;

	text-align: center;
}
#popupContainer .popup .buttons .button:last-child:nth-child(odd) {
	width: 100%;
}

@media (min-width: 768px) {
	#popupContainer .popup .box {
		top: 25%;
		height: 50%; min-height: 300px; max-width: 600px;
		margin: auto;

		border-radius: 5px;
		box-shadow: 5px 5px 15px #000;
	}
}