@charset "utf-8";

form label {
	display: block;
	margin: 15px;
}
form label small {
	font-size: 0.8em;
	display: block;
	transition: all .5s;
}
form label:focus-within small {
	font-size: 1em;
}
form label input, form label textarea, form label select {
	padding: 5px 10px;
	border: 0;
	border-bottom: 1px solid black;
	background: none;
	transition: border .5s, padding .5s;
}
form label textarea {
	min-width: 25%;
	max-width: 100%;
	min-height: 85px;
	height: 125px;
	border-bottom: 1px solid black;
}
form label:focus-within input, form label:focus-within textarea {
	padding: 10px 10px;
	border-bottom: 2px solid black;
}
form label input:valid, form label textarea {
	border-bottom: 2px solid #19af9c;
}
form label *:required, form label *:invalid {
    box-shadow: none;
}
form input[type="submit"] {
	background: none;
	display: block;
	margin: 15px;
	padding: 7px 10px;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	background: #19af9c;
	transition: all .5s;
	color: #fff;
}
form:invalid input[type="submit"] {
	background: grey;
	color: #000;
	cursor: not-allowed;
}


.card {
	display: block;
	padding: 10px;
	background-color: #fff;
	margin: 15px 0;
	text-decoration: none;
	color: inherit;
}
.card .title {
	display: block;
	font-size: 1.5em;
}
.card .data {
	display: inline-block;
	margin-top: 10px;
	width: 50%;
}
.card .data.long {
	display: block;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
}
@media screen and (max-width: 640px) {
	.card .data {
		width: 100%;
	}
}
.card .data .label {
	font-size: 1em;
	color: #19af9c;
	margin-right: 10px;
	display: block;
}
.card .data .value {
	font-size: 1.2em;
}
.card button {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 6px 10px;
	border: 0;
	transition: all .5s;
}
.card button:hover {
	background: #19af9c;
	color: #fff;
}

span.info {
	color: grey;
}
span.info::before {
	content: ' (';
}
span.info::after {
	content: ')';
}