<section class="fullheight">

	<div class="margin">

		<h1>Créer un rendez-vous</h1>
		
		<form onsubmit="projects_create(); return false;">
		
			<label>
				<small>Date de début</small>
				<input type="date" name="date" id="input_date" required="required" placeholder="ex: 10/05/2018" onchange="document.getElementById('input_edate').min=this.value;if(document.getElementById('input_edate').value===''){document.getElementById('input_edate').value=this.value;}" /> à 
				<input type="time" name="begin_date" id="input_begin_date" required="required" />
			</label>
			
			<label>
				<small>Date de fin</small>
				<input type="date" name="date" id="input_edate" required="required" placeholder="ex: 10/05/2018" onchange="document.getElementById('input_date').max=this.value" /> à 
				<input type="time" name="end_date" id="input_end_date" required="required" />
			</label>
			
			<label>
				<small>Intervenant</small>
				<select required="required" name="input_teacher" id="input_teacher">
					<option value="" selected disabled hidden>Choisir...</option>
					<option value="e8c116a7-3e74-11e8-9513-fa163e24d458">intervenant</option>
					<option value="db73ef38-3e8b-11e8-9513-fa163e24d458">Céline HARON</option>
				</select>
			</label>
			
			<label>
				<small>Message</small>
				<textarea name="message" id="input_message" pattern=".{3,}" required="required" placeholder="ex: Bonjour, je souhaiterais vous voir afin de..."></textarea>
			</label>
			
			<input type="submit" value="Créer le rendez-vous" />
		
		</form>
	</div>
</section>