<section class="fullheight">

	<div class="margin">

		<h1>Visualiser un rendez-vous</h1>
		
		<div class="appointments appointment">
			Name: <span attr-replace="name"></span>
		</div>
	</div>
</section>