<section class="fullheight">

	<div class="margin">

		<h1>Se connecter</h1>
		
		<form onsubmit="login(); return false;">
		
			<label>
				<small>Identifiant</small>
				<input type="email" name="identifier" id="input_identifier" required="required" placeholder="ex: hugo@epsi.fr" />
			</label>
			
			<label>
				<small>Mot de passe</small>
				<input type="password" name="password" id="input_password" required="required" placeholder="ex: ******" />
			</label>
			
			<input type="submit" value="Se connecter" />
		
		</form>
	</div>
</section>