<section class="fullheight">

	<div class="margin">

		<h1>Créer une disponibilité</h1>
		
		<form onsubmit="projects_create(); return false;">
		
			<label>
				<small>Date de début</small>
				<input type="date" name="begin_date" id="input_begin_date" required="required" placeholder="ex: 10/05/2018" /> à 
				<input type="time" name="begin_time" id="input_begin_time" required="required" placeholder="ex: 10:55" />
			</label>
			
			<label>
				<small>Date de fin</small>
				<input type="date" name="end_date" id="input_end_date" required="required" placeholder="ex: 12/05/2018" /> à 
				<input type="time" name="end_time" id="input_end_time" required="required" placeholder="ex: 14:55" />
			</label>
			
			<label>
				<small>Type</small>
				<label><input type="radio" name="type" value="1" /> Disponible</label> <label><input type="radio" name="type" value="0" /> Indisponible</label>
			</label>
			
			<input type="submit" value="Créer la disponibilité" />
		
		</form>
	</div>
</section>