<section class="fullheight">

	<div class="margin">

		<h1>Créer un groupe</h1>
		
		<form onsubmit="groups_create(); return false;">
		
			<label>
				<small>Nom</small>
				<input type="text" name="name" id="input_name" pattern=".{3,}" required="required" placeholder="ex: SuperNanas" />
			</label>
		
			<label>
				<small>Membres</small>
				<textarea name="members" id="input_members" pattern=".{3,}" required="required" placeholder="ex: valentin@epsi.fr julien@epsi.fr"></textarea>
			</label>
			
			<input type="submit" value="Créer le groupe" />
		
		</form>
	</div>
</section>