<section class="fullheight">

	<div class="margin">

		<h1>Créer un projet</h1>
		
		<form onsubmit="projects_create(); return false;">
		
			<label>
				<small>Nom</small>
				<input type="text" name="name" id="input_name" pattern=".{3,}" required="required" placeholder="ex: Workshop" />
			</label>
			
			<label>
				<small>Date de début</small>
				<input type="date" name="begin_date" id="input_begin_date" required="required" />
			</label>
			
			<label>
				<small>Date de fin</small>
				<input type="date" name="end_date" id="input_end_date" required="required" />
			</label>
			
			<label>
				<small>Nombre maximum de membres par groupes</small>
				<input type="number" name="max_members" id="input_max_members" required="required" placeholder="ex: 4" />
			</label>
			
			<label>
				<small>Nombre de crédits par groupes <span class="info">1 crédit = 10 minutes/1 courriel</span></small>
				<input type="number" name="credits" id="input_credits" required="required" placeholder="15" />
			</label>
			
			<input type="submit" value="Créer le projet" />
		
		</form>
	</div>
</section>