<section class="fullheight">

	<div class="margin">

		<h1>Créer un utillisateur</h1>
		
		<form onsubmit="projects_create(); return false;">
		
			<label>
				<small>Nom</small>
				<input type="text" name="username" id="input_username" pattern=".{3,}" required="required" placeholder="ex: Julien" />
			</label>
			
			<label>
				<small>Adresse email</small>
				<input type="email" name="email" id="input_email" pattern=".{3,}" required="required" placeholder="ex: hugo@epsi.fr" />
			</label>
			
			<label>
				<small>Type d'utilisateur</small>
				<select name="usertype" required>
					<option value="1">Administrateur</option>
					<option value="2">Intervenant</option>
					<option value="3">Étudiant</option>
				</select>
			</label>
			
			<input type="submit" value="Créer l'utilisateur" />
		
		</form>
	</div>
</section>